<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>
<body>
    <div class="container">
        <h2><%= title %></h2>
        <hr>    
        <h2>Ooooops!!! No encuentro lo que buscas</h2>
        <h3>Vuelve a intentarlo</h3>
        <button class="btn btn-info"><a href="/">Inicio</a></button>
    </div>
</body>
</html>