<%- include('header') %>
<%- include('modal_new_product') %>
<div class="container">    
<% for ( tag of tags ){ %>
    <button class="btn btn-info page-tags"><%= tag %></button>
<% } %>
</div>
<%- include('footer') %>