.login-api {
    width: 30%;
    margin-top: 10%
}

.login-api form {
    text-align: center;
}

.login-api label, .login-api button {
    margin-bottom: 10px;
}

.login-api button {
    margin-top: 15px;
}