.navbar-nav.ml-auto {
    margin-left: auto;
}

/**
* HEADER
*/
.language-select {
    width: 25%;
    margin-top: 10px;
}


/**
* index page
*/
.flex-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex-products > .card {
    max-width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.card-img-top{
    width: 90%;
    padding: 20px;
}

.type_product {
    margin-left: 10px;
    border-radius: 10px;
    padding: 0px 5px;
    background-color: rgb(128, 128, 128, 0.3);
}

.btn-generic{
    color: white;
}

.btn-tags{
    width: 30%;
    font-size: x-small;
    padding: 2px;
}

.products_form input{
    margin-bottom: 5px;
}
.products_form select{
    margin-bottom: 5px;
}
.products_form button{
    width: 100%;
}


/**
* update_item page
**/
.container.grid-container {
    display: grid;
    grid-template-columns: 33% 66%;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.grid-item:nth-child(1) {
    border-right: 1px solid black;
}

.inputTagUpdate{
    padding-bottom: 0px;
    padding-top: 4px;
}

button.cls_tagInput{
    border: 2px solid rgb(239, 239, 239);
} 

/**
* Tags Page
**/
.page-tags{
    margin-bottom: 10px
}

/**
* 404
**/
.not-found a{
    text-decoration: none;
    color: white;
}

.not-found h3{
    text-align: center;
}