

<div class="container">
  <div class="row">
    <% for(let i = 0; i < productos.length; i++) {%>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="images/<%= productos[i].image %>" alt="product_image">
        <div class="card-body">
          <h4 class="card-title">
            <%= productos[i].name %>
          </h4>
          <span><h5><%= productos[i].price %> <%= currency %></h5></span>
          <span>
            <% if(productos[i].sale === true) { %>
              <p>Venta</p>
            <% } else { %>
                <p>Subasta</p>
            <% } %>
          </span>
          <h6>
            <% for (tag of productos[i].tags ){ %>
                <button class="btn btn-info btn-tags"><%= tag %></button>
            <% } %>
          </h6>
        </div>
        <div class="card-footer">
          <a href="/delete/<%= productos[i]._id %>" class="btn btn-danger">Eliminar</a>
          <a href="/update_item/<%= productos[i]._id %>" class="btn btn-success">Actualizar</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

  